<%=stylesheet_link_tag "main" %>
<%=javascript_include_tag "main.js" %>
<%=javascript_include_tag "helpers.js" %>
<%=javascript_include_tag "application.js" %>
<%=stylesheet_link_tag "application.css" %>
<%=stylesheet_link_tag "home" %>

<div class="div_catalog_content">
   <!--ul id="catalog_list"-->
   <%=content_tag(:ul, :id=>'catalog_list') do %>
       <% vk = @page %>
       <% tk = 1 %>
       <% vk.each do |k| %>
             <% if (tk%5)==0 %>
             <%=content_tag(:li,:class=>'catalog_items_end') do %>
                <div class="div_view_box">
                    <div class="margin_space">
                    </div>
                    <div class="div_item">
                        <%= link_to((render_file "/assets/#{k.id}/#{k.file}"),url_for(action:'show',controller:'staff',id:k.id),:class=>'tag_link') %>
                    </div>
                    <div class="margin_space">
                    </div>
                    <div class="div_item_detail">
                       <%=product_info k.id %>
                    </div>
                   <div class="item_to_cart">
                      <%= button_to "DELETE", url_for(action:'destroy', controller:'staff',id:k.id),class:'add_cart' %>
                   </div>

                </div>
             <% end %>
             <% else %>
             <%=content_tag(:li,:class=>'catalog_items') do %>
                <div class="div_view_box">
                    <div class="margin_space">
                    </div>
                    <div class="div_item">
                        <%= link_to((render_file "/assets/#{k.id}/#{k.file}"),url_for(action:'show',controller:'staff',id:k.id),:class=>'tag_link') %>
                    </div>
                    <div class="margin_space">
                    </div>
                    <div class="div_item_detail">
                       <%=product_info k.id %>
                    </div>
                   <div class="item_to_cart">
                      <%= button_to "DELETE", url_for(action:'destroy', controller:'staff',id:k.id),class:'add_cart' %>
                   </div>

                </div>
             <% end %>
             <% end %>
             <% tk = tk + 1 %>
        <% end %> 
    <% end %>
    <div class="empty">
    </div>
   <!--/ul-->
   <%= will_paginate @page %>
</div>
